# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
drupal/docroot/sites/*/*settings*.php
drupal/docroot/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
drupal/docroot/sites/*/files
drupal/docroot/sites/*/public
drupal/docroot/sites/*/private
drupal/docroot/sites/*/files-public
drupal/docroot/sites/*/files-private

# Ignore paths that may contain temporary files
drupal/docroot/sites/*/translations
drupal/docroot/sites/*/tmp
drupal/docroot/sites/*/cache

# Ignore testing related files
/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
/core
/modules/README.txt
/profiles/README.txt
/sites/README.txt
/sites/example.sites.php
/sites/example.settings.local.php
/sites/development.services.yml
/themes/README.txt
drupal/vendor
drupal/.csslintrc
drupal/.editorconfig
drupal/.eslintignore
drupal/.eslintrc.json
drupal/.gitattributes
drupal/.htaccess
drupal/autoload.php
drupal/composer.json
drupal/composer.lock
drupal/example.gitignore
drupal/index.php
drupal/LICENSE.txt
drupal/README.txt
drupal/robots.txt
drupal/update.php
drupal/web.config
